<?xml version="1.0" encoding="UTF-8"?>
<!--TODO: zrobić XSD
-->
<config>

    <server>
        <type>Net</type>
        <host>10.0.2.15</host>
        <port>1024</port>
        <client>PC</client>
    </server>

    <screens>
        <screen>
            <name>Main</name>
            <icon>home</icon>
            <background>green</background>
            <elements>
                <element X="0" Y="0">
                    <module>
                        <name>Amplituner</name>
                        <icon>amplituner</icon>
                        <type>switch</type>
                    </module>
                </element>
                <element X="0" Y="1">
                    <module>
                        <name>TV</name>
                        <icon>tv</icon>
                        <type>switch</type>
                    </module>
                </element>
                <element X="0" Y="2">
                    <module>
                        <name>Monitor</name>
                        <icon>monitor</icon>
                        <type>switch</type>
                    </module>
                </element>
                <element X="0" Y="3">
                    <module>
                        <name>Glosniki</name>
                        <displayName>Głośniki</displayName>
                        <icon>speakers</icon>
                        <type>switch</type>
                    </module>
                </element>
                <element X="0" Y="4">
                    <module>
                        <name>Wiatrak</name>
                        <icon>fan</icon>
                        <type>switch</type>
                    </module>
                </element>
                <element X="0" Y="5">
                    <screen>
                        <name>Pokoj</name>
                    </screen>
                </element>
            </elements>
        </screen>
        <screen>
            <name>Pokoj</name>
            <title>Pokój</title>
            <icon>living_room</icon>
            <background>black</background>
            <elements>
                <element X="0" Y="1">
                    <module>
                        <name>Monitor</name>
                    </module>
                </element>
            </elements>
        </screen>
    </screens>
</config>