<?xml version="1.0" encoding="UTF-8"?>
<config>
    <connections>
        <connection>
            <type>MQTT</type>
            <host>192.168.1.103</host>
            <port>1883</port>
            <protocol>tcp</protocol>
        </connection>
    </connections>

    <modules>
        <module>
            <classname>com.piotrak.impl.modularity.modules.SwitchModule</classname>
            <name>Monitor</name>
            <icon>monitor</icon>
            <connection>
                <type>MQTT</type>
                <topic-subscribe>czuj</topic-subscribe>
                <topic-publish>czuj/test</topic-publish>
            </connection>
        </module>
    </modules>
</config>