<?xml version="1.0" encoding="UTF-8"?>
<!--TODO: zrobić XSD
-->
<config>
    <connections>
        <connection>
            <type>MQTT</type>
            <host>192.168.1.103</host>
            <port>1883</port>
            <protocol>tcp</protocol>
        </connection>
    </connections>

    <modules>
        <module>
            <type>switch</type>
            <name>Monitor</name>
            <icon>monitor</icon>
            <connection>
                <type>MQTT</type>
                <topic-subscribe>czuj</topic-subscribe>
                <topic-publish>czuj/java</topic-publish>
            </connection>
        </module>
        <module>
            <type>switch</type>
            <name>Glosniki</name>
            <displayName>Głośniki</displayName>
            <icon>speakers</icon>
            <connection>
                <type>MQTT</type>
                <topic-subscribe>czuj</topic-subscribe>
                <topic-publish>czuj/java</topic-publish>
            </connection>
        </module>
    </modules>

    <visibility>
        <screens>
            <screen>
                <name>Main</name>
                <icon>home</icon>
                <background>green</background>
                <elements>
                    <element X="0" Y="0">
                        <module>Monitor</module>
                    </element>
                    <element X="0" Y="1">
                        <module>Glosniki</module>
                    </element>
                    <element X="0" Y="2">
                        <screen>Pokoj</screen>
                    </element>
                </elements>
            </screen>
            <screen>
                <name>Pokoj</name>
                <title>Pokój</title>
                <icon>living_room</icon>
                <background>black</background>
                <elements>
                    <element X="0" Y="1">
                        <module>Monitor</module>
                    </element>
                </elements>
            </screen>
        </screens>
    </visibility>
</config>